{% extends "admin/change_form.html" %}

{% block content %}
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <!-- Top submit buttons -->
        <div class="submit-row top" style="padding: 0; margin-bottom: 0; ">
            {% include "admin/submit_line.html" with is_popup=False show_save=True show_save_and_add_another=True show_save_and_continue=True %}
        </div>
        <!-- Original content -->
        {{ block.super }}
    </form>
{% endblock %}

